<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">

	<!-- Servlets -->
   <servlet>
    <servlet-name>accessoServlet</servlet-name>
    <servlet-class>it.unibo.AccessoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accessoServlet</servlet-name>
    <url-pattern>/app/accesso</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>registrazioneServlet</servlet-name>
    <servlet-class>it.unibo.RegistrazioneServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrazioneServlet</servlet-name>
    <url-pattern>/app/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>it.unibo.ProfileServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/app/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>it.unibo.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/app/greet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ingredentiServlet</servlet-name>
    <servlet-class>it.unibo.IngredientiServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingredentiServlet</servlet-name>
    <url-pattern>/app/ingredienti</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>annuncioServlet</servlet-name>
    <servlet-class>it.unibo.AnnuncioServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annuncioServlet</servlet-name>
    <url-pattern>/app/annuncio</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>marketplaceServlet</servlet-name>
    <servlet-class>it.unibo.MarketplaceServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>marketplaceServlet</servlet-name>
    <url-pattern>/app/marketplace</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>richiestaScambioServlet</servlet-name>
    <servlet-class>it.unibo.RichiestaScambioServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>richiestaScambioServlet</servlet-name>
    <url-pattern>/app/richiestaScambio</url-pattern>
  </servlet-mapping>

	<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
